<div class="search-filter-panel">
  <div class="search-row">
    <span class="p-input-icon-left search-input">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="search"
        placeholder="Where to next?"
        [ngModel]="searchTerm"
        (ngModelChange)="onSearchTermChange($event)" />
    </span>
    <button
      pButton
      type="button"
      class="filter-button"
      icon="pi pi-sliders-h"
      aria-label="Open filters"
      (click)="openFilters()">
    </button>
  </div>
  <div class="filter-row scrollable-row">
    @for(option of typeOptions; track option.value) {
      <button
        type="button"
        class="filter-chip"
        [class.active]="selectedType === option.value"
        (click)="onSelectedTypeChange(selectedType === option.value ? 'all' : option.value)">
        <fa-icon [icon]="typeIcons[option.value]"></fa-icon>
        <span>{{ option.label }}</span>
      </button>
    }
  </div>
</div>
